:root {
    --Green: #88CB27;
    --Blue: #13548f;
    --Beige: #ffffd8b5;
    --black: #000;
    --white: #FFFFFF;

    --Roboto: "Roboto", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --Pacifo: "Pacifico", serif;
}


/* Global Styles  */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    font-family: var(--Roboto);
    font-size: 1.6rem;
    line-height:1.5;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 2.5rem 0;
}
h1 {
    font-size: 3.4rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.2rem;
}

img {
    max-width: 100%;
    display:block
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.ul-li-styled {
    list-style-type: none;
    padding-left: 0;
}

.button {
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--Green);
    color: var(--black);
    transition: background-color 0.5s ease-out;
}

.button:hover {
    background-color: var(--Blue);
    color: var(--white);
}


.button-link {
    height: auto;
    font-family: var(--Poppins);
    padding: 1.2rem 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}
.main-bg {
    background-color: var(--Beige);
}

.side-bg {
    background-image: url(../images/tasty-hero/cartoon-bg.png);
}


/* Styling the header and nav menu  */

header {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
}

.logo {
    height: 12rem;
    width: 12rem;
    margin-left: 2rem;
}

header div {
    margin-top: 2rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.menu {
    display: grid;
    grid-template-rows: 0fr;
    height: 0;
    transition: grid-template-rows 0.6s ease-out, height 0.6s ease-out;
}

.menu.open {
    grid-template-rows: 1fr;
    height: 24.6rem;
}

.nav-menu a {
    position: relative;
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
    font-family: var(--Poppins);
    
}

.nav-menu a::after {
    content: '';
    position: absolute;
    height: .3rem;
    left: 50%;
    bottom: -.5rem;
    width: 0;
    background-color: var(--Blue);
    transition: width .3s ease, left .3s ease;
    transform: translateX(-50%);

}

.nav-menu a:hover::after{
    width: 100%;
    left: 50%; 
    transform: translateX(-50%);
}

.nav-menu a.active::after {
    width: 100%;
}



/* Stying the ham-menu button  */
#ham-menu {
    background: none;
    border: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    color: var(--Blue);
    font-size: 6rem;

}

#ham-menu:before {
    content: "☰";
}

#ham-menu.open::before {
    content: 'X';
    font-size: 6rem;
}

/* Styling the footer  */ 


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.form {
    padding: 1rem;
    text-align: center;
}

.form p:first-of-type {
    font-family: var(--Pacifo);
    font-size: 3rem;
    margin-bottom: 0;
}

.form p:last-of-type {
    font-family: var(--Poppins);
    font-size: 2.8rem;
    margin-top: 0;
}

input[type=text], input[type=email] {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 60%;
    text-align: center;
    height: 5rem;
    border: 1px solid black;
}

input[type=submit] {
    margin-top: 2rem;
}

input::placeholder {
    text-align: center;
    font-family: var(--Poppins);
}

.menu-footer {
    flex-direction: column;
    gap: 1rem;
    
}

.menu-footer a {
    transition: transform 0.3s ease;
}


.menu-footer a::after {
    content: none; 
    width: 0;
    height: 0;
    background: none; 
    position: static; 
    transition: none; 
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social p {
    font-family: var(--Poppins);
    font-weight: 700;
    font-size: 3rem;
}

.social-media-links {
    display: flex;
    padding: 2rem;
    border-radius: .5rem;
    background-color: #F2F2F2;
    gap: 2rem;
}


/* Styling the home page  */

.hero {
    height: 49rem;
    background-image: url(../images/tasty-hero/hero.webp );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    position: relative;
}

.content-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    text-align: center;
    gap: 3rem;
}

@keyframes fadeIn {
    to {
      opacity: 1; 
    }
  } 

.content-hero h1 {
    font-family: var(--Pacifo);
    color: var(--white);
    transition: transform 0.3s ease;
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards; 

}

.content-hero a {
    margin-bottom: 2rem;
}



.content-home {
    padding: 3rem 0 5rem 0;
}

.content-home h2 {
    font-family: var(--Pacifo);
    text-align: center;
}

.content-home h2:last-of-type {
    width: 80%;
    margin: 5rem auto 2rem auto;
}

.content-home img {
    width: 32rem;
    height: 22rem;
    border-radius: 1rem;
}

.section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-home div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the explore page  */


.explore-menu {
    position: relative
}

#explore-title {
    font-family: var(--Pacifo);
    text-align: center;
    font-size: 4rem;
    margin: 5rem 0;
}

.btn-explore {
    font-weight: 700;
    font-size: 1.5rem;
    width: 5rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;

}

@media (max-width: 395px) { 
    .btn-explore{
        right: 0rem;
    }
}

.btn-explore-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) { 
    .btn-explore {
        width: 10rem;
        right: 3rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 640px) { 
    .btn-explore {
        right: 6rem;
    }
}

.explore-content {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 3rem;
    margin-bottom: 8rem;
}

.min-height {
    min-height: 80rem;
}

.explore-card h2 {
    font-size: 3.5rem;
    margin: 0;
}

.explore-card {
    width: 100%;
    height: 335px;
    max-width: 45rem;               
    aspect-ratio: 4 / 3;            
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.585);
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.explore-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.explore-card-content {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}


.loading-screen {
    display: flex; 
    z-index: 1000;
    position: fixed; 
    left: 50%; 
    top: 50%; 
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    transform: translate(-50%, -45%); 
}

/* Loader Styles */
.loader {
    text-align: center; 
}

.spinner {
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%; 
    animation: spin 1s linear infinite; 
    margin: 0 auto; 
}

/* Spin Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Loading Text Styles */
.loading-screen h2 {
    margin-top: 20px; 
    color: #3498db; 
    font-family: var(--Pacifo); 
    font-size: 24px; 
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    border-radius: .6rem;
    padding: 0rem;
    width: 80rem;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 3rem #777;
    background-color: var(--white);
    text-align: center;

}

dialog h3 {
    font-family: var(--Pacifo);
    font-size: 3rem;

    margin: 0;
    padding: 2rem 9rem;
    margin-bottom: 5rem;
    
}

dialog h4 {
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--Blue);
    
}

dialog img {
    width: 30rem;
    margin: 0 auto;
    border-radius: .5rem;
}

.instructions {
    text-align: left;
}

.iframe {
    width: 100%;
    margin-bottom: 5rem;
}

.btn-modal {
    font-size: 1.8rem;
    font-weight: normal;
}

.modal-container {
    padding-bottom: 3rem;
}

#closeModal {
    position: absolute;
    top: 4rem;
    right: 2rem;
    background: var(--Blue);
    border: none;
    font-size: 4rem;
    color: var(--white);
    border-radius: 1rem;
}

/* styleing the my recipies page  */

.dummy {
    height: 20rem;
}

.myrecipies-main {
    text-align: center;
    background-color: var(--Beige);
    padding: 5rem 0rem;
}


.recipies-form {
    margin-bottom: 8rem;
    padding: 5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--Green);
    max-width: 40rem;
    margin: 0 auto;


}

.recipies-form ul {
    min-height: 10rem;
    border-radius: 1rem;
    border: 2px solid var(--Blue);
    width: 75%;
    margin: 2rem 0 2rem 3rem;
    padding: 1rem;
    text-align: left;
    background-color: var(--white);
}

.recipies-form label {
    display: block;
    text-align: left;
    padding-left: 3rem;
    margin-bottom: 2rem;
}



.recipies-form input[type=text] {
    display: block;
    width: 80%;
    height: 3rem;
    border-radius: .5rem;
    border: 1px solid #999;
    border-left-width: 4px;
    padding: .4rem;
    margin: .3rem 0 1rem 0;
}

.recipies-form textarea {
    display: block;
    border-radius: .5rem;
    border: 1px solid #999;
    padding: .4rem;
    margin-top: .3rem;
    width: 80%;
    height: 15rem;
}

.recipies-form input:required {
    border-left-color: var(--Blue);
}

.recipies-form input:focus {
    border-left-color: black; 
    outline: none;
}

.btn-recipies-form {
    width: 12rem;
}

.btn-recipies-form:last-of-type {
    margin-top: 5rem;
}

.recipies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.myrecipies-card {
    background-image: url(../images/my-recipies-img/professional-chef-preparing-food-kitchen_23-2149727977.webp);
    height: 12rem;
}

.new-recipie {
    display: none;
}

.myrecipies-title {
    font-family: var(--Pacifo);
    margin-bottom:  8rem;
    font-size: 4rem;
    
}

.my-recipies {
    margin-bottom: 5rem;
}

.img-recipies-bg {
    display: none
}

#deleteRecipe{
    background-color: rgb(197, 64, 64);
    color: var(--white);
    transition: transform .3s ease-in;
}

#deleteRecipe:hover {
    transform: scale(1.10);
}

/* Styling the search page  */ 

.search-title {
    font-family: var(--Pacifo);
    color: var(--Green);
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 4rem;
}
.search-title span {
    color: var(--black);
    
}
.search-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.search-bar input {
    border-radius: 2rem;
    margin-bottom: 3rem;
    width: 80%;
}

.search-bar-container {
    min-height: 36rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.btn-search {
    font-weight: 700;
}

.recipies-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.recipies-container-search {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.recipies-container-search-show {
    display: flex;
}




