:root {
    --Green: #88CB27;
    --Blue: #13548f;
    --Beige: #ffffd8af;
    --black: #000;
    --white: #FFFFFF;

    --Roboto: "Roboto", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --Pacifo: "Pacifico", serif;
}


body {
    font-family: var(--Roboto);
}

header {
    background-color: var(--Blue);
    color: var(--white);
    padding: 2rem;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 3rem;
}

.color {
    width: 2rem;
    height: 1rem;
    display: inline-block;
}

.color1 {
    background-color: var(--Green);
}

.color2 {
    background-color: var(--Blue);
}

.color3 {
    background-color: var(--Beige);
}

.poppins {
    font-family: var(--Poppins);
    font-weight: normal;
}

.pacifico {
    font-family: var(--Pacifo);
}

footer {
    background-color: var(--Blue);
    color: var(--white);
    padding: 2rem;
}

footer p {
    margin: 0;
    text-align: center;
}