@media (min-width: 764px) { 

    /* Global Styles, navegation bar and footer  */
    .header {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0;
    }

    #menu {
        display: none;
      }  

    .open-menu {
        grid-template-rows: 1fr;
        height: auto;
        transition: none;
    }

    .open-menu.open {
        height: auto;
    }

    footer {
        flex-direction: row;
        gap: 5rem;
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;
        
    }


    /* Styling the directory page  */

    .list-view article{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 14%);
        padding: 2rem;
        height: 18rem;
        justify-items: center;
        align-items: center;
    } 

    /* Styling the home page  */
    .hero {
        height: 55rem;
    }

    .hero-phrase {
        text-transform:capitalize;
        font-size: 5rem;
        line-height: 7.5rem;
    }
    
    .join-button {
        font-size: 2.5rem;
    }

    .content-hero {
        gap: 6rem;
    }

    .home {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
    }

    .home-card {
        margin: 0;
    }

    #weather-info {
        justify-self: center;
        
    }

    .title {
        width: 50%;
        margin: 4rem auto;
    }

    .weather-display img {
        grid-row: 1 / 2;
    }

    /* sytling teh join page  */

    .membership-display {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: auto;
       justify-items: center;
       grid-template-areas: 
       "bronze gold silver"
       "non-profit non-profit non-profit";    
    }

    .gold {
        grid-area: gold;
    }

    .silver {
        grid-area: silver;
    }

    .bronze {
        grid-area: bronze;
    }

    .non-profit {
        grid-area: non-profit;
    }

    .membership-card {
        height: 36rem;
    }

    .gold {
        margin-bottom: 10rem;
    }

    .non-profit {
        display: flex;
        height: 18rem;
        gap: 5rem;
        padding: 1.5rem 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .title-join{
        font-size: 4rem;
    }

    .title-join:first-of-type {
        margin-top: 8rem;
        margin-bottom: 6rem;
    }

    .title-profit {
        width: 80%;
        margin-bottom: 7rem;
    }

    .non-profit button {
        margin-top: 0;
    }

    .title-form {
        font-size: 4rem;
        margin-bottom: 7rem;
    }

    .membership-form {
        width: 50rem;
        margin: 0 auto;
    }
    .membership-form {
        margin-bottom: 5rem;
        margin-top: .3rem;
    }
    
    .membership-form textarea {
        display: block;
        border-radius: .5rem;
        border: 1px solid #999;
        padding: .4rem;
        width: 81%;
    }

    .membership-form input[type=submit] {
        width: 18rem;
        font-size: 1.8rem;
        padding: 1.5rem;
       
    }    

    .thanks-button {
        font-size: 1.8rem;
    }

    /* Styling the discover page  */

    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 5rem;
    }

   
}

@media (min-width: 965px) { 
    
    .membership-summary {
        display: block;
    }

    .gold.summary-card {
        margin-bottom: 2.5rem;
    }

    .summary-card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding: 1.5rem 1.5rem;
        height: 16rem;
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .discover-images img {
        width: 38rem;
        height: 24rem;
    }

    .discover-info {
        position: sticky; /* Enable sticky positioning */
        top: 13rem; /* Stick to the top of the viewport */
        height: 100vh; 
        overflow-y: auto; 
        padding: 2rem
 
    }
}
   

    
@media (min-width: 1080px) { 

    /* Styling the directory page  */
    .list-view article{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 14%);
        padding: 2rem;
        height: 12.5rem;
        justify-items: center;
        align-items: center;
    } 

    .discover-images img {
        width: 45rem;
        height: 30rem;
    }
}

@media (min-width: 1289px) { 
    #weather-info {
        justify-self: left;
        
    }

    .weather-display img {
        grid-column: 2/3;
    }
}